# AWS
VITE_AWS_IAM_USER="your-aws-access-key"
VITE_AWS_SECRET_KEY="your-aws-secret-access-key"

# GCP
VITE_GCP_ADMIN_EMAIL="your-service-account-email"
# Minified JSON of your GCP credentials
VITE_GCP_CREDENTIALS='{"type": "service_account", "project_id": "...", "private_key": "..."}'

# Azure
VITE_AZURE_CLIENT_ID="your-azure-client-id"
VITE_AZURE_CLIENT_SECRET="your-azure-client-secret"

# GSuite / Google Workspace
VITE_GSUITE_CLIENT_ID="your-gsuite-client-id"
VITE_GSUITE_CLIENT_SECRET="your-gsuite-client-secret"
VITE_GSUITE_REFRESH_TOKEN="your-gsuite-refresh-token"
